#* @vtlvariable name="baseclass" type="java.lang.String" *#
#* @vtlvariable name="targetclass" type="java.lang.String" *#
#* @vtlvariable name="var" type="java.lang.String" *#
#* @vtlvariable name="id" type="java.lang.String" *#


int add${baseclass}${targetclass}(${baseclass} *root,${targetclass} *val)
{
    if(root->${var}== NULL)
    {
        root->${var} = hashmap_new();
        if(root->${var} == NULL)
        {
            printf("FATAL ALLOCATE HASHMAP ${targetclass} \n");
            return -1;
        }
    }
    if(hashmap_put(root->${var},val->${id},val) != MAP_OK)
    {
        printf("ERROR ADD  ${targetclass} \n");
    }

    return 0;
}


${targetclass}* findByID${baseclass}${targetclass}(${baseclass} *root,void *id)
{
    if(root->${var}!= NULL)
    {
        ${targetclass}  *result=NULL;
        if(hashmap_get(root->${var},id, (void**)(&result)) == MAP_OK){
            return result;
        }
         return NULL;
    }else
    {
        return NULL;
    }
}